html, body {
    height: 100%;
}
body{margin:0px;
	font-family:"微軟正黑體";
}

#headbar{
	display:flex;
	background-color:#cccccc;
	border: 1px solid red;
	width:100%;
	align-items: center;
	position: fixed;z-index:1;
	box-shadow: 0 1px 6px black;
}
.logo_left{
	flex:none;width:80px;
	text-align:center;

}
.head{
	flex:auto;
	text-align:center;padding: 3px;
	font-size:16px;color:white;
	font-weight:bold;
	background-color:#263351;
}
.logo_right{
	flex:none;width:80px;
	background-color:#ccffcc;
}
.logo_left div{
/*垂直置中div區塊內的物件*/
	display:flex;
	align-items: center;
	justify-content: center;
}

#content{
	display:flex;/*容器要用flexbox需要這行指令*/border: 1px solid red;
	justify-content:center;/* 容器內的擺放flex-start靠左 center置中 flex-end靠右 */
	align-items: stretch; /* stretch預設等高 center置中 flex-start靠上 flex-end靠下 */
	background-color:#cbcaca;
	position: relative; top: 87px;
	padding: 0px;
	height: 80%;
}
iframe{
	border: 1px solid black;
	width: 100%;
	height: 100%;
}
/*
.menuarea{
	flex:none;width:15%;
	background-color:#cccccc;
}*/
.bodyarea{
	flex:auto;
	font-size:16px;
	font-weight:bold;
	padding: 15px;
	text-align:center;
}
/*Menu設定從這裡開始
.nav {
    text-align: center;
}*/
ul { /* 取消ul預設的內縮及樣式 */
	margin: 0;
	padding: 0;
	list-style: none;
}

ul.drop-down-menu {
	border: #ccc 1px solid;
	display: inline-block;
	font-family: 'Open Sans', Arial, sans-serif;
	font-size: 13px;
}

ul.drop-down-menu li {
	position: relative;
	white-space: nowrap;
	border-right: #ccc 1px solid;
}

ul.drop-down-menu > li:last-child {
	border-right: none;
}

ul.drop-down-menu > li {
	float: left; /* 只有第一層是靠左對齊*/
}

 ul.drop-down-menu a {
	background-color: #fff;
	color: #6d6d6d;
	display: block;
	padding: 0 20px;
	text-decoration: none;
	line-height: 30px;

}
ul.drop-down-menu a:hover { /* 滑鼠滑入按鈕變色*/
	background-color: #ef5c28;
	color: #fff;
}
ul.drop-down-menu li:hover > a { /* 滑鼠移入次選單上層按鈕保持變色*/
	background-color: #ef5c28;
	color: #fff;
}

ul.drop-down-menu ul {
	border: #ccc 1px solid;
	position: absolute;
	z-index: 99;
	left: -1px;
	top: 100%;
   min-width: 180px;
}

ul.drop-down-menu ul li {
	border-bottom: #ccc 1px solid;
}

ul.drop-down-menu ul li:last-child {
	border-bottom: none;
}

ul.drop-down-menu ul ul { /*第三層以後的選單出現位置與第二層不同*/
	z-index: 999;
	top: 10px;
	left: 90%;
}
ul.drop-down-menu ul { /*隱藏次選單*/
	left: 99999px;
	opacity: 0;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
}

ul.drop-down-menu li:hover > ul { /* 滑鼠滑入展開次選單*/
	opacity: 1;
	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;
	left: -1px;
	border-right: 5px;
}

ul.drop-down-menu li:hover > ul ul { /* 滑鼠滑入之後、次選單之後的選單依舊隱藏*/
	left: 99999px;
}

ul.drop-down-menu ul li:hover > ul { /* 第二層之後的選單展開位置*/
	left: 90%;
}
.aaa{
	pointer-events: none;/*滑鼠事件失效，auto正常*/
    cursor: default;/*游標樣式*/
	opacity: 0.6;/*透明度0.0-1.0*/
}
/*Menu設定到這裡結束*/
